<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="signUp.css"/>
</head>
<body>
<div class="registerWindow"></div>
<h1 class="header">Регистрация</h1>
<div class="signUpFormBox">
    <div class="inputWrapper">
        <label class="label && inputLabel" for="firstName">Имя</label>
        <input class="input" type="text" size="40" id="firstName" value={{first_name}}/>
    </div>
    <div class="inputWrapper">
        <label class="label && inputLabel" for="lastName">Фамилия</label>
        <input class="input" type="text" size="40" id="lastName" value={{second_name}}/>
    </div>
    <div class="inputWrapper">
        <label class="label && inputLabel" for="login">Логин</label>
        <input class="input" type="text" size="40" id="login" value={{login}}/>
    </div>
    <div class="inputWrapper">
        <label class="label && inputLabel" for="pwd">Пароль</label>
        <input class="input" type="password" size="40" id="pwd" value={{password}}/>
    </div>
    <div class="inputWrapper">
        <label class="label && inputLabel" for="pwd_repeat">Повторите пароль</label>
        <input class="input" type="password" size="40" id="pwd_repeat" value={{password_repeat}}/>
    </div>
    <div class="inputWrapper">
        <label class="label && inputLabel" for="mailBox">Почта</label>
        <input class="input" type="text" size="40" id="mailBox" value={{email}}/>
    </div>
    <div class="inputWrapper">
        <label class="label && inputLabel" for="phone">Телефон</label>
        <input class="input" type="number" size="40" id="phone" value={{phone}}/>
    </div>
    <button class="button">Зарегистрироваться</button>
    <div>
        <a href="../index.hbs" class="textLink">Войти</a>
    </div>
</div>
</body>
</html>